*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
}

form{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #3D3D3D;
    width: 40%;
    margin: 10% 30% 0% 30%;
}

h1{
    color: white;
    width: 50%;
    margin: 5% 25% 3% 25%;
    font-family: 'Nunito', sans-serif;
}

p{
    color: white;
    margin: 0% 0% 5% 15%;
    font-family: 'Nunito', sans-serif;
}

input{
    color: white;
    
}

label{
    color: white;
    margin: 0% 0% 0% 3%;
    font-family: 'Nunito', sans-serif;
}

.item{
    margin: 0% 0% 0% 18%;

}

#button{
    background-color: black;
    border-color: white;
    width: 50%;
    margin: 5% 0% 5% 25%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

#button:hover{
    background-color: white;
    border-color: black;
    color: black;
}

#cQtd{
    width: 10%;
}

@media only screen and (max-width: 522px) {
    form{
        margin:  10% 5% 0% 5%;
        width: 90%;
    }
}